@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background: 34, 34, 34; 
  --accent-blue-rgb: 50, 130, 184; 
  --accent-green-rgb: 69, 179, 157; 
  --text-hover-rgb: 127, 195, 224; 
}

body {
  margin-bottom: 0;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background))
  
}
